
*{
    box-sizing: border-box;
}

.user-card-classic-container{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 570px;
    padding: 0 90px;

    background-color: white;
    border-radius: 1em;

}


/* user info */

.user-photo{
    position: absolute;
    top: -65px;

    width: 130px;
    height: 130px;

    border-radius: 50%;

    object-fit: cover;
    object-position: center;

    box-shadow: 2px 0 17px 15px rgba(101, 45, 204, 0.993);
    
}


.user-name{
    margin-top: 90px;

    color: blueviolet;
    font-weight: 600;
}


.user-bio{
    padding: 10px 0;

    font-weight: lighter;
}

/* location */

.user-location-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 30%;
    padding: 20px 0;
}

.svg-location{
    width: 20px;
    height: 20px;
}

.user-location{
    padding-top: 4px;
}

/* page info */

.info-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    width: 100%;
}

table{
    width: 100%;

    text-align: center;
}

thead td{
    font-weight: bold;
}

tbody td{
    font-weight: lighter;
}

/* social webs */

.user-social-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

svg{
    padding: 3px 0;

    width: 36px;
    height: 36px;

    fill: white;
    border-radius: 50%;

}

.svg-facebook{
    background-color: rgb(25, 14, 90);
}

.svg-twitter{
    border: 1px solid rgb(17, 161, 245);

    background-color: aqua;

}

.svg-instagram{
    border: 1px solid rgb(8, 34, 90);

    background-color: red;
    background: linear-gradient(rgb(235, 69, 4), rgb(10, 10, 233));
    
}

.svg-umbraco{
    fill: white;

    background-color: blue;
    background: linear-gradient(20deg,rgb(253, 236, 0), rgb(10, 10, 233));
}

.svg-git-hub{
    background-color: rgb(78, 71, 71);
}

.svg-link{
    background-color: red;
    background: linear-gradient(33deg, red, purple);
}

.svg-cube{
    background-color: rgb(55, 54, 94);
}

.user-social-wrapper > svg:hover, .btn:hover{
    box-shadow: 0px 0px 7px 3px #c23856;

    cursor: pointer;
}

/* buttons */

.btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    padding: 30px 0;

    text-align: center;

}

.btn{
    width: 150px;
    height: 35px;

    border: none;
    border-radius: 30px;

    color: white;
    font-weight: bold;
}

.msg{
    background-color: aqua;
    background: linear-gradient(40deg, aqua, blue);
}

.flw{
    background-color: rgb(255, 51, 0);
    background: linear-gradient(40deg, rgb(252, 71, 0), rgb(225, 0, 255));
}

.msg:hover{
    box-shadow: 0px 0px 7px 3px #3846c2;
}